src/main/resources/calls.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="urn:rest.lancktele.com" xmlns:tns="urn:rest.lancktele.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="call" type="tns:CallTo" />
    <xs:complexType name="CallTo">
        <xs:sequence>
            <xs:element name="toPhoneNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>